---
layout: default
section: blog
---
<h1>{{ site.github.project_title }}</h1>
<p>Here is the <code>{%raw%}{{ site.github | jsonify }}{%endraw%}</code> for this page.</p>
{% capture commalinebreak %},
	"{% endcapture %}{% highlight json %}{{ site.github | jsonify | replace:',"',commalinebreak }}{% endhighlight %}
<div class='listing col6 pad4h margin3'>
  {% for item in site.categories.blog limit:1000 %}
    {% capture date %}{{ item.date | date: '%B %Y' }}{% endcapture %}
    {% capture ndate %}{{ item.next.date | date: '%B %Y' }}{% endcapture %}

    {% if date != ndate %}
      <h4 class='month'>{{item.date | date: '%B %Y'}}</h4>
    {% endif %}
    <a class='item' href='{{site.baseurl}}{{item.url}}'>{{item.title}} <span class='date'>&#126; {{item.date | date:"%b %d"}}</span></a>
  {% endfor %}
</div>

{% include rss-link.html %}
